#blockPadre {
	display: flex;
}

#block1 {
	position: static;
	height: 200px;
	width: 600px;
}

#di1M {
	background-color: red;
	width: 300px;
	float: left;
	height: 100px;
	padding: 100px;
	text-align: center;
	border-radius: 50px;
}

#di1C {
	background-color: blue;
	width: 300px;
	float: left;
	height: 100px;
	padding: 100px;
	text-align: center;
	border-radius: 50px;
}

#block2 {
	position: static;
	height: 400px;
	width: 1200px;
	margin-left: 0;
}

#divA {
	background-color: blue;
	height: 100px;
	width: 300px;
	padding: 25px;
	color: white;
	text-align: center;
	overflow: hidden;
	border-radius: 25px;
}
#divB {
	background-color: yellow;
	height: 100px;
	width: 300px;
	padding: 25px;
	color: white;
	text-align: center;
	overflow: hidden;
	border-radius: 25px;
}
#divC {
	background-color: red;
	height: 100px;
	width: 300px;
	padding: 25px;
	color: white;
	text-align: center;
	overflow: hidden;
	border-radius: 25px;
}
#divD {
	background-color: black;
	height: 100px;
	width: 300px;
	padding: 25px;
	color: white;
	text-align: center;
	overflow: hidden;
	border-radius: 25px;
}
